# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

**/.vscode
*stam*
.pylintrc
.idea*
**/*_private*
src/credentials/
credentials_gcal_desktop_secret.json
src/config.py
token.json